.featuredProducts {
  margin: 40px 100px;
  font-family: sans-serif;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1 {
      display: flex;
      flex: 2;
      text-transform: capitalize;
      font-size: 1.5rem;
    }

    p {
      flex: 3;
      color: rgb(195, 195, 195);
      font-size: 1.2em;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
